BOOTPROTO=dhcp
DEFROUTE=yes
DEVICE={{ network_wan_device }}
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_FAILURE_FATAL=no
NAME={{ network_wan_device }}
ONBOOT=yes
PEERDNS=yes
PEERROUTES=yes
TYPE=Ethernet
UUID={{ network_wan_uuid }}
